.learn-words{
  padding-left: 5em;
  padding-right: 5em;
}

.cards-area{
  margin: auto;
  margin-top: 5em;
}

.no-words{
  font-size: 2em;
  margin: auto;
}

@media screen and (max-width: 700px){
  .cards-area{
    margin: auto;
    margin-top: .5em;
  }
  .learn-words{
    padding: .5em;
  }
}
